name: Deploy Ecommerce Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy Via SSH
        uses: appleboy/ssh-action@v1.0.1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          port: 22
          timeout: 30s
          command_timeout: 10m
          script: |
            cd /root/ecommerce
            git pull origin main
            docker-compose up -d --build
          strict_host_key_checking: false